[data-theme]
    --dark-theme: var(--dark)
    --dark-theme-border: var(--dark)

[data-theme="dark-theme"]
    // Navbar
    --nav-bg: var(--dark)
    --nav-color: var(--white)

    // Sidebar
    --sidebar-bg: #2c3538
    --sidebar-color: var(--white)

    // Frame
    --frame-bg: #f5f5f5
    --frame-title: black
    --frame-title-count: #b5b5b5 
    --frame-color: black
    --frame-color-light: #909090
    --frame-hover: #e8e8e8
    --frame-hover-light: #f5f5f5