[data-theme]
    --purple-theme: var(--purple)
    --purple-theme-border: var(--purple)

[data-theme="purple-theme"]
    --nav-bg: var(--purple)
    --nav-color: var(--white)
    --sidebar-bg: var(--purple)
    --sidebar-color: var(--white)